<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <a href="https://creativecommons.org/licenses/by/4.0/">
      <img src="https://img.shields.io/badge/License-CC%20BY%204.0-lightgrey.svg" alt="License: CC BY 4.0" />
    </a>
  </div>
</footer>

{%- if site.mermaid.version -%}
<script type="module">
  import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version }}/dist/mermaid.esm.min.mjs";

  document.querySelectorAll("pre > code.language-mermaid").forEach((code) => {
    const diagram = document.createElement("pre");
    diagram.classList.add("mermaid");
    diagram.textContent = code.textContent;
    code.parentElement.replaceWith(diagram);
  });

  mermaid.initialize({
    startOnLoad: false,
    theme: {{ site.mermaid.theme | jsonify }}
  });
  await mermaid.run({ querySelector: ".mermaid" });
</script>
{%- endif -%}
